.Diagnose {
    flex: 1;

    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #ffffff;
}

.Diagnose .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:22px;
    padding:20px;
    color: black;
    width: 40px;
    color: #c4c7c5;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.Diagnose .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding:20px;
}

.Diagnose .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5536);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Diagnose .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.Diagnose .card{
    height:200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.Diagnose .card p{
    color: #585858;
    font-size: 17px;
}

.Diagnose .card:hover{
    background-color: rgb(190, 216, 228);
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900x;
    padding: 0px 20px;
    margin: auto;
}

.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.searchbox input{
    flex:1;
    background: transparent;
    border: none;
    outline:none;
    padding: 8px;
    font-size: 18px;
}

.searchbox div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Diagnose .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
}