.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(190, 216, 228);
    padding: 25px 15px;
    width: 5vw;
    transition: width 0.3s ease-in-out;
}

.sidebar.extended {
    width: 12vw;
}

.sidebar p {
    visibility: hidden;
    opacity: 0;
    color: #333; 
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; 
}

.sidebar.extended p {
    visibility: visible;
    opacity: 1;
    color: #000; 
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-diagnostic {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    background-color: rgb(150, 190, 208);
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    color: #333; 
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000; 
    font-weight: bold;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 10px;
    font-size: 14px; 
    color: #000; 
    background-color: rgba(255, 255, 255, 0.8); 
    cursor: pointer;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.sidebar .recent-entry:hover {
    background-color: rgb(184, 205, 212); 
    color: #000; 
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    color: #333; 
}

.sidebar .bottom-item:hover {
    color: #000; 
}