.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(190, 216, 228);
    padding: 25px 15px;
    width: 5vw;
    transition: width 0.3s ease-in-out;
    
}

.sidebar.extended {
    width: 12vw;
}

.sidebar p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; 
}

.sidebar.extended p {

    visibility: visible;
    opacity: 1;
    
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-diagnostic{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    background-color: rgb(150, 190, 208);
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: rgb(38, 35, 35);
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    color:black;
    background-color: rgb(184, 205, 212);
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}